<script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular-1.1.2/angular.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular-1.1.2/angular-resource.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/vendors/angular-1.1.2/i18n/angular-locale_fr-fr.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/app/app.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/AdminCtrl.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/AllCtrl.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app/controllers/UserCtrl.js")"></script>
