@if(play.Play.isProd){

} else {
<script type="text/javascript" src="/public/javascripts/vendors/angular-1.1.2/angular.js"></script>
<script type="text/javascript" src="/public/javascripts/vendors/angular-1.1.2/angular-resource.js"></script>
<script type="text/javascript" src="/public/javascripts/vendors/angular-1.1.2/i18n/angular-local.js"></script>
<script type="text/javascript" src="/public/javascripts/app/app.js"></script>
<script type="text/javascript" src="/public/javascripts/app/controllers/controllers.js"></script>
<script type="text/javascript" src="/public/javascripts/app/directives/navigation.js"></script>
}