@()(implicit flash: play.api.mvc.Flash)
@import layout._
<!DOCTYPE html>
<html lang="fr">
@header()
<body>
	<![if !(IE) | (gte IE 9)]>
		<form method="post" action="@routes.Authentication.authenticate()">
			<input type="hidden" name="redirect" value="@flash.get("redirect").map(url => url)">
			<fieldset>
			<legend>Connection</legend>
				<label>
					login
					<input type="text" name="username" required="required">
				</label>
				<label>
					password
					<input type="password" name="password" required="required">
					<span>@flash.get("errormsg").map(errormsg => errormsg)</span>
				</label>
				<input type="submit" class="btn btn-primary pull-right" value="Connexion">
			</fieldset>
		</form>
	<![endif]>
	<!--[if lt IE 9]>
        Merci d'utiliser un autre navigateur
     <![endif]-->
</body>
</html>
