@(msgerror: Option[String]=None)(implicit flash: play.api.mvc.Flash)
@import layout._
<!DOCTYPE html>
<html lang="fr">
@header()
<body>
	<![if !(IE) | (gte IE 9)]>
		<form method="post" action="@routes.Authentication.authenticate()">
			<input type="hidden" name="redirect" value="@flash.get("redirect").map(url => url)">
			<fieldset>
			<legend>Connexion</legend>
				<label>
					Nom d'utilisateur
					<input type="text" name="username" required="required">
				</label>
				<label>
					Mot de passe
					<input type="password" name="password" required="required">
				</label>
				@msgerror.map{msg => <span>@msg</span>}
				<input type="submit" class="btn btn-primary pull-right" value="Connexion">
			</fieldset>
		</form>
	<![endif]>
	<!--[if lt IE 9]>
        Merci d'utiliser un autre navigateur
     <![endif]-->
</body>
</html>
